.App {
  text-align: center;
}

.button {
  display: block;
  outline: none;
  border: 1px solid #343434;
  border-radius: 0.2rem;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  background: #343434;
  color: #fff;
  margin: 1rem auto;
  transition: all 0.3s;
}

.button:hover {
  cursor: pointer;
  background: #fff;
  color: #343434;
}
